
<head>
<meta charset="utf-8">
</head>
<div th:fragment="modal">
<!-- Modal edit -->
<div  class="modal fade" id="modalLogout" tabindex="-1"
	role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">
					Confirmation  
				</h5>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">

				

					<div class="container text-left">

						sdfsdfdsfsdf
					</div>
			

					
			</div>
			<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">Annuler</button>
						<button id="btnEdit" class="btn-success">Enregistrer</button>

					</div>
			


		</div>
	</div>
</div>
<!--  Modal edit -->
</div>
