
<head>
<meta charset="utf-8">
</head>

<!-- filter -->
<div th:fragment="filter">
	<script >
	/**
	 * 
	 */


	$(document).ready(function(){
		//loader hide
		$('.sp-bars').hide()
		currentPage(0)
		//filtre par interval de date
		$('#intervalBtn').click(()=>{
			initLoader()
			setTimeout(function(){
				finishLoader()
				dateFilter()
			},1500)
			
		})
		
		//recherche d'objet
		$('#objet').keyup(()=>{
			initLoader()
			setTimeout(function(){
				finishLoader()
				search();
			},345)
		
		})

		$('#max-occur').change(()=>{

			initLoader()
			var size = $('#max-occur').val()
			setTimeout(function(){
				finishLoader()
				if( $('#date1').val() =='' && $('#date2').val() =='')
				{
				window.location.href = "requetes?page=1&size="+size
			
				}else{
				
				dateFilter(0,size)
				}
			},1500)

		})
		
		
		
		
		
	})

	function initLoader(){
		$('#result').addClass("hidden")
		$('.sp-bars').fadeIn(300)
	}
	function finishLoader(){
		$('.sp-bars').fadeOut(200)
		$('#result').removeClass("hidden")
	}

	function search(){
		var mc = $('#objet').val()
									
		$('#result').html("")
		$.ajax({
			method : "get",
			url : "[[@{/gse/requetes/search/}]]"+mc ,
			dataType : "json",
			contentType : "application/json",
			success : function (data){
				//.log(data)
				var res="";
				if(data.length==0){
					res = "<p class='text-danger text-center' >Pas d'occurence trouvé pour ces conditions ! </p>"
						$('#result').html(res);
				}
				else{
				for(i=0;i<data.length;i++){
					
					//console.log(data[i])
					 res += "<tr> <td>"+data[i].nomReq+"</td>" +
									"<td>"+data[i].intitule+"</td> " +
									"<td>"+data[i].eltEntree+"</td> " +
									"<td>"+data[i].eltSortie+"</td> " +
	                                "<td>"+data[i].dateTraitement+"</td>"+
	                                "<td>"+data[i].execution+"</td>"+
									"<td align='center'>" +
									"<button type='button' class='btn btn-info  ' onclick=\"openModal('"+data[i].idReq+"')\" > <i class='fa fa-edit'></i> </button> " +
									"<div id='modalEdit'></div>"
									"<a id=etat"+data[i].idReq+" href=\"activites/req?action=terminer&code_act="+data[i].idReq+" \"  class='btn btn-success text-white'>T</a>   " +
									"</td> " +
							" </tr>"
										
					
				}
				
				$('#result').html(res)
				$('#modalEdit').html(modal())

				getStateProperty()
				
				} //else
				
				
				
			}
		})
	}
	function getDirection(){
		$.ajax({
			method : "get",
			url : "[[@{/gse/directions/getAll}]]",
			dataType : "json",
			contentType : "application/json",
			success : function (data){
				var res = "Direction / Service Demandeur<select class='form-control' name='direction'> "
				
				for(i=0;i<data.length;i++){
					res += "<option value='"+data[i].code_dir+"'>"+data[i].code_dir.toUpperCase()+"</option> "
				}
				res +="</select>"
				
					//console.log(res)
				$('[id=selectDir]').html(res)
				$('[id=selectDir2]').html(res)
				
				
			}
		})
	}
	function openModal(data){
		getDirection()
		fill(data)
		$('#testModal').modal('show')
		
	}
	function fill(ref){
		$.ajax({
			method : "get",
			url : "[[@{/gse/requetes/checkRef/}]]"+ref ,
			dataType : "json",
			contentType : "application/json",
			success : function (data){
				$('#ref').html(data.idReq)
				$('#idReq').val(data.idReq)
				$('#nomReq').val(data.nomReq)
				$('#intitule').val(data.intitule)
				$('#eltEntree').val(data.eltEntree)
				$('#eltSortie').val(data.eltSortie)
				$('#dateTraitement').val(data.dateTraitement)
				$('#execution').val(data.execution)

			}
		})
	}
	function modal(){
		 m = "<div class='modal fade' tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' "+
		 " aria-hidden='true' id='testModal'>"+
		 "<div class='modal-dialog modal-lg ' role='document'>"+
			 "<div class='modal-content '>"+

				 "<div class='modal-header pers-header'>"+
					 "<h5 class='modal-title'>"+
						 " <i class='fas fa-edit text-info'></i>  Modification N° <span class='text-danger' id='ref' ></span>"+
					 "</h5>"+
					 "<button type='button' class='close' data-dismisss='modal' aria-label='Close'>"+
						 "<span aria-hidden='true'>&times;</span>"+
					 "</button>"+
				 "</div>"+

				 "<div class='modal-body'>"+

					 "<form th:action='@{/gse/requetes/modification}' method='post'>"+
						 "<div class='container text-left'>"+
									 
								" <div class='row'>"+
								 
								 "</div>"+
									
										"<input class='form-control' id='idReq' type='hidden' name='idReq' />"+
								

									 "<div class='form-group'>"+
										  "<label class='control-label'>Nom de la requête </label>"+ 
										  "<input class='form-control'' id='nomReq' type='text' name='nomReq' />"+
									   "</div>"+
									   
									   "<div class='form-group'>"+
										  "<label class='control-label'>Intitulé </label>"+ 
										  "<input class='form-control' id='intitule' type='text' name='intitule' />"+
										"</div>"+
										
										"<div class='form-group'>"+
										  "<label class='control-label'>Date de traitement </label>"+ 
										  "<input class='form-control-sm'' id='dateTraitement' type='date' name='dateTraitement' />"+
								  	 	"</div>"+


									 "<div class='form-group'>"+
										 "<label class='control-label'>Elément en entrée</label>"+
										 "<textarea class='form-control' id='eltEntree'  name='eltEntree'></textarea>"+
									 "</div>"+

									 "<div class='form-group'>"+
										 "<label class='control-label'>Elément en sortie </label>"+
										 "<textarea class='form-control' id='eltSortie'  name='eltSortie'></textarea>"+
									 "</div>"+

									 "<div class='form-group'>"+
										 " Exécution <select class='form-control' name='execution'>"+
											 "<option value='sgabs'>SGABS</option>"+
											 "<option value='webselect'>WEBSELECT</option>"+
											 "<option value='local'>LOCAL</option>"+
											 "<option value='amplitude'>AMPLITUDE</option>"+
										 "</select>"+
									 "</div>"+

							 "</div>"+

							 "<div class='modal-footer pers-footer'>"+
								" <button type='button' class='btn btn-secondary' data-dismiss='modal'>Annuler</button>"+
								 "<button id='btnEdit' class='btn-success'>Enregistrer</button>"+
								 
							 
								 
							" </div>"+
					 "</form>"+

				" </div>"+

			" </div>"+
		 "</div>"+
	 "</div>"
	 return m
	}

	function getStateProperty(){
		/*var ids = $('.etat').map(function(){
			return this.id
		}).get()*/
		$('[id=ok]').addClass("badge badge-pill badge-success")
		$('[id=ko]').addClass("badge badge-pill badge-danger")
		//configuration t
		$('[id=etatok]').css("display","none")
		
		
	}



	function dateFilter(page=0,size=3){ //page 0 and size 3
		//suppression de l'ancien pagination
		$('#pagination').html("")
		
		var date1 = $('#date1').val()
		var date2 = $('#date2').val()
									
		$('#result').html("")
		$.ajax({
			method : "get",
			url : "[[@{/gse/requetes/parDate/}]]"+date1+"/"+date2+"/"+page+"/"+size,
			dataType : "json",
			contentType : "application/json",
			success : function (data){
				//console.log(data.content[0].code_act)
				
				var res="";
				if(data.content.length==0){
					res = "<p class='text-danger text-center' >Pas d'occurence trouvé pour ces conditions ! </p>"
						$('#result').html(res);
				}
				else{
				for(i=0;i<data.content.length;i++){
		
					res += "<tr> <td>"+data.content[i].nomReq+"</td>" +
									"<td>"+data.content[i].intitule+"</td> " +
									"<td>"+data.content[i].eltEntree+"</td> " +
	                                "<td>"+data.content[i].eltSortie+"</td> " +
	                                "<td>"+data.content[i].execution+"</td> " +
									"<td>"+data.content[i].dateTraitement+"</td>"+
									"<td align='center'>" +
									"<button type='button' class='btn btn-info  ' onclick=\"openModal('"+data.content[i].idReq+"')\" > <i class='fa fa-edit'></i> </button> " +
									"<div id='modalEdit'></div>"
									"<a id=etat"+data.content[i].idReq+" href=\"activites/req?action=terminer&code_act="+data.content[i].idReq+" \"  class='btn btn-success text-white'>T</a>   " +
									"</td> " +
							" </tr>"
					
				}
				$('#result').html(res)
				$('#modalEdit').html(modal())
				getStateProperty()
				//pagination
				var paginate = ""
					for(i=0;i<data.totalPages;i++){
						size = $('#max-occur').val()
						paginate += "<li>" +
								"<button  id="+i+" onclick=\"action("+i+","+size+")\"  class='btn btn-sm btn-outline-info mr-2 p-2  '  > " +(i+1)
								"</button>" +
								"</li>"
					}
				$('#pagination').html(paginate)
				
				} 
				//else
			}
		})
	}

	function action(i,size){
		initLoader()
		setTimeout(function(){
			finishLoader()
			dateFilter(i,size)
			currentPage(i)
		},900)
		
	}
	function currentPage(page){
		$('#page').val(page)
		$('#'+page).css('color','red')
	}

	//

	</script>
</div>

<!-- excel -->
<div th:fragment="excel">
	<script>
	/**
	 * 
	 */
	    $(document).ready(function(){
	        $('#export').click(()=>{
	            exporte()
	        })
	    })

	function exporte(){
		var date1 = $('#date1').val()
		var date2 = $('#date2').val()
		var size = $('#max-occur').val()
		
		page = parseInt($('#page').val())
		if(page == NaN) page = 0 
		$.ajax({
			method : "get",
			url : "[[@{/gse/requetes/parDate/}]]"+date1+"/"+date2+"/"+page+"/"+size,
			dataType : "json",
			contentType: "application/json",
			success : function (data){
				var res = "<tr>" +
								"<th>Nom de la requête </th>" +
								"<th>Intitulé</th>" +
								"<th>Elément en entrée</th>" +
								"<th>Elément en sortie</th>" +
								"<th>Date de traitement</th>" +
								"<th>Exécution</th>" +
								
							
						"</tr>"
				for(i=0;i<data.content.length;i++){
					
					 res += "<tr> <td>"+data.content[i].nomReq+"</td>" +
									"<td>"+data.content[i].intitule+"</td> " +
									"<td>"+data.content[i].eltEntree+"</td> " +
									"<td>"+data.content[i].eltSortie+"</td> " +
									"<td>"+data.content[i].dateTraitement+"</td>" +
									"<td>"+data.content[i].execution+"</td>" +	
							"  </tr>"
					
				}
			
				filename= "Requêtes/"+date1+"_"+date2
				exportToExcel(res,filename)
			}
		})
	}

	function exportToExcel(htmls,filename){

	            var uri = 'data:application/vnd.ms-excel;base64,';
	            var template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><meta http-equiv="content-type" content="application/vnd.ms-excel;charset="utf-8"> <!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>'; 
	            var base64 = function(s) {
	                return window.btoa(unescape(encodeURIComponent(s)))
	            };

	            var format = function(s, c) {
	                return s.replace(/{(\w+)}/g, function(m, p) {
	                    return c[p];
	                })
	            };
	            
	            var ctx = {
	                worksheet : 'Worksheet',
	                table : htmls
	            }


	            var link = document.createElement("a");
	            link.download = filename;
	            link.href = uri + base64(format(template, ctx));
	            link.click();
	}
	</script>
</div>