<head>
	<meta charset="utf-8" />
</head>
<div th:fragment="modal">


<div class="modal fade" th:attr="id=${activite.code_act}"
							tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
							aria-hidden="true">
							<div class="modal-dialog modal-lg" role="document">
								<div class="modal-content">
									<div class="modal-header pers-header">
										<h5 class="modal-title" id="exampleModalLabel">
										  <i class="fa fa-edit text-info"></i>	Modification N° <span  class="text-white"
												th:text=${activite.code_act}></span>
										</h5>
										<button type="button" class="close" data-dismiss="modal"
											aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">

										<form id="form1" th:action="@{/gse/activites/modification}" method="post">

											<div class="container text-left">
											
												<div class="row">
												
												</div>
													<div class="form-group">
														<label class="control-label"></label> <input
															class="form-control-sm" th:attr="value=${activite.code_act}"  type="hidden" name="code_act" />
													</div>

													
													<div class="form-group">
														<label class="control-label">Description</label>
														<textarea class="form-control" th:text="${activite.object_act}" name="object_act"></textarea>
													</div>

													<div class="form-group">
														Type de Demande <select class="form-control"
															name="type_dmd">
															<option value="requête">Requête(REQ)</option>
															<option value="projet">Projet</option>
															<option value="chantier">Chantier</option>
														</select>
													</div>

													
													<div class="form-group">
														Caractéristique <select class="form-control"
															name="caract_act">
															<option value="n">Nouveau</option>
															<option value="m">Modif</option>
															<option value="r">Répétitif</option>
														</select>
													</div>

													<div id="selectDir" class="form-group">
														Direction <select class="form-control" name="direction">
															<option value="org">ORG</option>
															<option value="cmd">CMD</option>
														</select>
													</div>
														
													 <input class="form-control-sm" th:attr="value=${activite.date_act}" type="hidden" name="date_act" />
														
													<input class="form-control-sm" th:attr="value=${activite.etat_act}" type="hidden" name="etat_act" />
													<input class="form-control-sm" th:attr="value=${activite.responsable.getCode_resp()}" type="hidden" name="responsable" />

													<div class="form-group">
														<label class="control-label">Date de Livraison</label> <input
															class="form-control-sm" th:attr="value=${activite.data_liv_act}" type="date" name="data_liv_act" />
													</div>

													
													<div class="form-group">
														<label class="control-label">Observation</label>
														<textarea class="form-control" th:text="${activite.obs_act}"  name="obs_act"> </textarea>
													</div>

													
	
											</div>

											<div class="modal-footer pers-footer">
												<button type="button" class="btn btn-secondary"
													data-dismiss="modal">Annuler</button>
												<button id="btnEdit" class="btn-success">Enregistrer</button>
												
												
											</div>
										</form>
									</div>


								</div>
							</div>
						</div> <!--  Modal edit -->
						</div>