
<head>
<meta charset="utf-8"/>
<title>Insert title here</title>
</head>

<div th:fragment="filter">
 	<script>
 	/**
 	 * 
 	 */
 	$(document).ready(function(){
 		// filtre par interval de date
 		// loader hide
 		$('.sp-bars').hide()
 		currentPage(0)
 		// filtre par interval de date
 		$('#intervalBtn').click(()=>{
 			initLoader()
 			setTimeout(function(){
 				finishLoader()
 				dateFilter()
 			},1500)
 			
 		})
 		
 		// recherche d'objet
 		$('#objet').keyup(()=>{
 			initLoader()
 			setTimeout(function(){
 				finishLoader()
 				search();
 			},345)
 		
 		})

 		$('#max-occur').change(()=>{

 			initLoader()
 			var size = $('#max-occur').val()
 			setTimeout(function(){
 				finishLoader()
 				if( $('#date1').val() =='' && $('#date2').val() =='')
 				{
 					window.location.href = "incidents?page=1&size="+size
 				}else{
 				dateFilter(0,size)
 				}
 			},1500)

 		})
 		
 	})


 	function initLoader(){
 		$('#result').addClass("hidden")
 		$('.sp-bars').fadeIn(300)
 	}
 	function finishLoader(){
 		$('.sp-bars').fadeOut(200)
 		$('#result').removeClass("hidden")
 	}

 	function dateFilter(page=0,size=3){
 	$('#pagination').html("")

 		var date1 = $('#date1').val()
 		var date2 = $('#date2').val()
 		
 		$('#result').html("")
 		$.ajax({
 			method : "get",
 			url : "[[@{/gse/incidents/parDate/}]]"+date1+"/"+date2+"/"+page+"/"+size,
 			dataType : "json",
 			contentType : "application/json",
 			success : function (data){
 				// console.log(data.content[0].code_act)

 				var res="";
 				if(data.content.length==0){
 					res = "<p class='text-danger text-center' >Pas d'occurence trouvé pour ces conditions ! </p>"
 						$('#result').html(res);
 				}else{
 					for(i=0;i<data.content.length;i++){
 						
 						// console.log(data[i])
 						 res += "<tr> <td>"+data.content[i].code_inc+"</td>" +
 										"<td>"+data.content[i].date_deb_inc+"</td> " +
 										"<td>"+data.content[i].heure_deb_inc+"</td> " +
 										"<td>"+data.content[i].cause_inc+"</td> " +
 										"<td>"+data.content[i].util_imp_inc+"</td>" +
 									
 										"<td >"+data.content[i].consequence_inc+"</td> 	" +
 										"<td>"+data.content[i].sous_cat_risk+"</td> " +
 										"<td>"+data.content[i].perte_interne+"</td> " +
 										"<td align='center'>" +
 											"<button class='btn btn-info m-1 code_act'  onclick=\"openModal('"+data.content[i].code_inc+"')\" > <i class='fa fa-edit'></i> </button>" +
 											"<div id='modalEdit'></div>"+
 											"</td>  </tr>"
 											
 						
 					}
 					// console.log(res)
 					$('#result').html(res)
 					$('#modalEdit').html(modal())
 					var paginate = ""
 						for(i=0;i<data.totalPages;i++){
 							size = $('#max-occur').val()
 							paginate += "<li>" +
 									"<button type='button' onclick=\"action("+i+","+size+")\" class='btn btn-sm btn-outline-info mr-2 p-2'  > " +(i+1)
 									"</button>" +
 									"</li>"
 						}
 					$('#pagination').html(paginate)
 				} // else
 			}
 		})
 	}
 	function action(i,size){
 		initLoader()
 		setTimeout(function(){
 			finishLoader()
 			dateFilter(i,size)
 			currentPage(i)
 		},900)
 		
 	}

 	function openModal(data){
 		
 		fill(data)
 		$('#modalInc').modal('show')
 		
 	}

 	function fill(ref){
 		$.ajax({
 			method : "get",
 			url : "[[@{/gse/incidents/checkRef/}]]"+ref ,
 			dataType : "json",
 			contentType : "application/json",
 			success : function (data){
 				$('#ref').html(data.code_inc)
 				$('#code_inc').val(data.code_inc)
 				$('#desc_inc').val(data.desc_inc)
 				$('#cause_inc').val(data.cause_inc)
 				$('#date_deb_inc').val(data.date_deb_inc)
 				$('#date_fin_inc').val(data.date_fin_inc)
 				$('#heure_deb_inc').val(data.heure_deb_inc)
 				$('#heure_fin_inc').val(data.heure_fin_inc)
 				$('#consequence_inc').val(data.consequence_inc)
 				$('#sous_cat_risk').val(data.sous_cat_risk)
 				$('#perte_int').val(data.perte_interne)
 				$('#echeance').val(data.echeance)
 				
 			}
 		})
 	}

 	function modal(){
 		m = "<div class='modal fade' tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' "+
 		" aria-hidden='true' id='modalInc'>"+
 		"<div class='modal-dialog modal-lg ' role='document'>"+
 			"<div class='modal-content '>"+

 				"<div class='modal-header pers-header'>"+
 					"<h5 class='modal-title'>"+
 						" <i class='fas fa-edit text-info'></i> Modification N° <span class='text-danger' id='ref' ></span>"+
 					"</h5>"+
 					"<button type='button' class='close' data-dismisss='modal' aria-label='Close'>"+
 						"<span aria-hidden='true'>&times;</span>"+
 					"</button>"+
 				"</div>"+

 				"<div class='modal-body'>"+

 					"<form th:action='@{/gse/incidents/modification}' method='post'>"+
 						"<div class='container text-left'>"+
 									
 							   " <div class='row'>"+
 								
 								"</div>"+
 									"<div class='form-group'>"+
 										"<label class='control-label'></label> <input class='form-control-sm' id='code_inc'   type='hidden' name='code_inc' >"+
 									"</div>"+

 									
 									"<div class='form-group'>"+
 										"<label class='control-label'>Description</label>"+
 										"<input type='text' class='form-control' id='desc_inc'  name='desc_inc' />"+
 									"</div>"+

 									"<div class='form-group'>"+
 										"<label class='control-label'>Cause</label>"+
 										"<input type='text' class='form-control' id='cause_inc'  name='cause_inc' />"+
 									"</div>"+

 									
 										
 									 "<h5>Sujet concerné</h5>"+
 									 "<div class='row m-2'>"+
 										 "<div class='form-group'>"+
 											 "<input class='form-control-sm' type='checkbox' value='metier' name='util_imp_inc' /> "+
 											 "<label class='control-label'>Métier</label>"+
 										 "</div>"+
 			 
 										 "<div class='form-group'>"+
 											 "<input class='form-control-sm' type='checkbox' value='agence' name='util_imp_inc' />"+
 											  "<label class='control-label'>Agence</label>"+
 										 "</div>"+
 										 "<div class='form-group'>"+
 											  "<input class='form-control-sm' type='checkbox' value='client' name='util_imp_inc' />"+
 										  	  "<label class='control-label'>Client</label>"+
 									 	"</div>"+
 									 "</div>"+

 									
 									
 									 "<div class='form-group'> "+
 									 	"<label>Date début</label>"+
 									 	"<input class='form-control-sm' id='date_deb_inc'  type='date' name='date_deb_inc' />"+
 									 "</div>"+

 									 "<div class='form-group'> "+
 									 	"<label>Date début</label>"+
 									 	"<input class='form-control-sm' id='heure_deb_inc'  type='time' name='heure_deb_inc' />"+
 									 "</div>"+

 									 "<div class='form-group'> "+
 									 	"<label>Date début</label>"+
 									 	"<input class='form-control-sm' id='date_fin_inc'  type='date' name='date_fin_inc' />"+
 									 "</div>"+

 									 "<div class='form-group'> "+
 									 	"<label>Date début</label>"+
 									 	"<input class='form-control-sm' id='heure_fin_inc'  type='time' name='heure_deb_in' />"+
 									 "</div>"+

 									"<div class='form-group'>"+
 										"<label class='control-label'>Conséquence</label>"+
 										"<textarea class='form-control' id='consequence_inc'   name='consequence_inc'> </textarea>"+
 									"</div>"+

 									"<div class='form-group'>"+
 										"<label class='control-label'>Sous catégorie de risque </label>"+
 										"<textarea class='form-control' id='sous_cat_risk'   name='sous_cat_risk'> </textarea>"+
 									"</div>"+

 									"<div class='form-group'>"+
 										"<label class='control-label'>Valeur </label>"+
 										"<input type='text' class='form-control' id='pert_int'   name='perte_interne' /> "+
 									"</div>"+

 									"<div class='form-group'>"+
 										"<label class='control-label'> Résumé du plan d'action </label>"+
 										"<input type='text' class='form-control' id='echeance'   name='echeance' /> "+
 									"</div>"+

 									
 							"</div>"+

 							"<div class='modal-footer pers-footer'>"+
 										" <button type='button' class='btn btn-secondary' data-dismiss='modal'>Annuler</button>"+
 										"<button id='btnEdit' class='btn-success'>Enregistrer</button>"
 								
 							" </div>"+

 							
 					"</form>"+

 			   		" </div>"+
 			   

 		   " </div>"+
 		"</div>"+
 		
 	"</div>"
 	return m
 	}


 	function currentPage(page){
 		$('#page').val(page)
 	}
 	function search(){
 		var mc = $('#objet').val()
 		
 		$.ajax({
 			method : "",
 			url : "[[@{/gse/incidents/search/}]]"+mc,
 			dataType : "json",
 			contentType : "application/json",
 			success : function (data){
 				
 				var res=""
 					if(data.length==0){
 						res = "<p class='text-danger text-center' >Pas d'occurence trouvé pour ces conditions ! </p>"
 							$('#result').html(res);
 					}else{
 						for(i=0;i<data.length;i++){
 							
 							// console.log(data[i])
 							 res += "<tr> <td>"+data[i].code_inc+"</td>" +
 											"<td>"+data[i].date_deb_inc+"</td> " +
 											"<td>"+data[i].heure_deb_inc+"</td> " +
 											"<td>"+data[i].cause_inc+"</td> " +
 											"<td>"+data[i].util_imp_inc+"</td>" +
 											
 											"<td >"+data[i].consequence_inc+"</td> 	" +
 											"<td>"+data[i].sous_cat_risk+"</td> " +
 											"<td>"+data[i].perte_interne+"</td> " +
 											"<td align='center'>" +
 												"<button class='btn btn-info m-1 code_act' onclick=\"openModal('"+data[i].code_inc+"')\"   > <i class='fa fa-edit'></i> </button>" +
 												"<div id='modalEdit'></div>"+
 											"</td> " +
 										" </tr>"
 												
 							
 						}
 						$('#result').html(res)
 						$('#modalEdit').html(modal())
 					
 				}
 					
 			}	
 				
 		})
 	}



 	</script>
</div>

<!-- validation -->
<div th:fragment="validation">
	<script>
	/**
	 * 
	 */
	$(document).ready(function(){
		
		//date validation
		$('#date_liv_act').change(()=>{
			checkDate()
		})
		$('#reference').focusout(()=>{
			checkRef()
		})
	})

	function checkDate(){
			var  date = new Date()
			var today = date.getFullYear()+"-"+(date.getMonth()+1)+"-"+date.getDate()
			//console.log(today)
			var current = $('#date_liv_act').val()
			current = new Date(current)
			if(current < date) {
				$('#date_err').html("Veuillez ne pas ajouter une date ultérieure  ")
			}else{
				$("#date_err").html("")
			}
	}

	function checkRef(){
		var ref= $('#reference').val()
		
		$.ajax({
			method : "get",
			url : "[[@{/gse/activites/checkRef/}]]"+ref,
			dataType : "json",
			contentType : "application/json",
			success : function(data){
				if(data != null){
					$('#reference').focus()
					$('#ref_err').html("Référence activité existant ! ")
				}
				else{
					$('#ref_err').html("")
				}
			},
			error : function(){
				console.log("error")
			}
		})
	}

	
	</script>
</div>

<!-- excel -->
<div th:fragment="excel">
	<script>
	/**
	 * 
	 */$(document).ready(function(){
		
		$('#export').click(()=>{
			exporte()
		})
	})

	function exporte(){
		var date1 = $('#date1').val()
		var date2 = $('#date2').val()
		var size = $('#max-occur').val()
		$('#page').val(0)
		page = parseInt($('#page').val())
		
		
		
		$.ajax({
			method : "get",
			url : "[[@{/gse/incidents/parDate/}]]"+date1+"/"+date2+"/"+page+"/"+size,
			dataType : "json",
			contentType: "application/json",
			success : function (data){
				var res = "<tr>" +
								"<th>Référence</th>" +
								"<th>Date début</th>" +
								"<th>Heure début</th>" +
								"<th>Cause</th>" +
								"<th>Util/impacté</th>" +
								"<th>Conséquence</th>" +
								"<th>Sous catégorie de risque</th>" +
								
								"<th>Perte interne</th>" +
								
							
						"</tr>"
								for(i=0;i<data.content.length;i++){
									
									//console.log(data[i])
									 res += "<tr> <td>"+data.content[i].code_inc+"</td>" +
													"<td>"+data.content[i].date_deb_inc+"</td> " +
													"<td>"+data.content[i].heure_deb_inc+"</td> " +
													"<td>"+data.content[i].cause_inc+"</td> " +
													"<td>"+data.content[i].util_imp_inc+"</td>" +
												
													"<td >"+data.content[i].consequence_inc+"</td> 	" +
													"<td>"+data.content[i].sous_cat_risk+"</td> " +
													"<td>"+data.content[i].perte_interne+"</td> " +
											"  </tr>"
														
									
								}
				date = new Date()
				filename= "Incidents/"+date.getDay()+"-"+date.getMonth()+"-"+date.getYear("YYYY")
				exportToExcel(res,filename)
			}
		})
	}

	function exportToExcel(htmls,filename){

	            var uri = 'data:application/vnd.ms-excel;base64,';
	            var template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><meta http-equiv="content-type" content="application/vnd.ms-excel;charset="utf-8"> <!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>'; 
	            var base64 = function(s) {
	                return window.btoa(unescape(encodeURIComponent(s)))
	            };

	            var format = function(s, c) {
	                return s.replace(/{(\w+)}/g, function(m, p) {
	                    return c[p];
	                })
	            };
	            
	            var ctx = {
	                worksheet : 'Worksheet',
	                table : htmls
	            }


	            var link = document.createElement("a");
	            link.download = filename;
	            link.href = uri + base64(format(template, ctx));
	            link.click();
	}
	</script>
</div>

<!-- stat -->
<div th:fragment="stat">
	<script>

	$(document).ready(function(){
		$('#dateInc2').change(()=>{
			statIncDir()
		})
		
		
	})
	function statIncDir(){
		var date1 = $('#dateInc1').val()
		var date2 = $('#dateInc2').val()
		
		$.ajax({
			method : 'get',
			url : '[[@{/gse/incidents/stat/dir/}]]'+date1+'/'+date2,
			dataType : 'json',
			contentType : "application/json",
			success : function (data){
				var temp = []
				var legend = []
				var score = []
	        	
				for(i=0;i<data.length;i++){
					temp.push(data[i].split(","))
				}
				for(i=0;i<temp.length;i++){
					legend.push(temp[i][0])
					score.push(temp[i][1])	
				}
				
				var chartdata = {
				        labels: legend,
				        datasets : [
				          {
				            label: 'Valeur',
				            backgroundColor: 'rgb(182, 5, 43)',
				            borderColor: 'rgb(253, 57, 165)',
				            hoverBackgroundColor: 'rgb(253, 57, 165)',
				            hoverBorderColor: 'rgb(253, 57, 165)',
				            data: score
				          }
				        ]
				      };

				      var ctx = $("#mycanvas2");

				      var barGraph = new Chart(ctx, {
				        type: 'line',
				        data: chartdata
				      });
				
			}
		})
	}
	</script>
</div>
