
 <div th:fragment="head">
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" media="all" th:href="@{/css/loader.css}">
<link rel="stylesheet" th:href="@{/css/style.css}">
<link rel="stylesheet" th:href="@{/css/fontawesome-free-5.11.2-web/css/all.min.css}">
<script th:src="@{/js/assets/jquery-3.1.0.js}"></script>
<script th:src="@{/js/assets/bootstrap.bundle.js}"></script>
<script th:src="@{/js/assets/popper.js}"></script>
<script th:src="@{/js/loader.js}"></script>
 </div>