
<head>
<meta charset="utf-8" />
<title>Insert title here</title>
</head>
<div th:fragment="statFmq">
<div class="row">
	<div class="col-lg-6 col-md-6">
		<div class="card m-1">
			<div class="card-header panel-activity">
				<span class="font-weight-bold">STATISTIQUES DES FAITS MARQUANTS PAR
					DIRECTION <i onclick="exportStatFmqDir()"  class="btn btn-outline-success fa fa-download "></i> </span>
				<div class="row">

					De <input class="form-control ml-2 mr-2" id="date1Fmq" type="date" />
					à <input id="date2Fmq" class="form-control ml-2 mr-2" type="date" />

				</div>

			</div>

			<div class="card-body">

				<div class="chart-container">
					<canvas id="mycanvas5"></canvas>
				</div>

			</div>
		</div>
	</div>

	<div class="col-lg-6 col-md-6">
		<div class="card m-1">
			<div class="card-header text-center">
				<span class="font-weight-bold">STATISTIQUES DES FAITS MARQUANTS PAR
					RESPONSABLE <i onclick="exportStatFmqResp()"  class="btn btn-outline-success fa fa-download"></i> </span>
				<div class="row">

					De <input class="form-control ml-2 mr-2" id="date3Fmq" type="date" />
					à <input id="date4Fmq" class="form-control ml-2 mr-2" type="date" />

				</div>

			</div>

			<div class="card-body ">

				<div class="chart-container">
					<canvas id="mycanvas6"></canvas>
				</div>

			</div>
		</div>
	</div>
</div>
<!--row-->
</div>
